/* CategoryNav.module.css */
/* Alteração em src/components/CategoryNav.module.css */
.categoriesNav {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 5px;
    
    /* Adicionando limitação de largura e centralização */
    max-width: 1000px; /* Define um limite máximo */
    margin-left: auto;
    margin-right: auto;
    width: 95%; /* Garante margem nas laterais em telas muito pequenas */
}   

.categoriesNav::-webkit-scrollbar {
    background: #373636; /* Cor de fundo da barra de rolagem */
    height: 8px; /* Altura da barra de rolagem */
    border-radius: 14px; /* Bordas arredondadas */   
}

.catBtn {
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.08);
    color: var(--text-white);
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
    font-size: 0.8rem;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.catBtn.active {
    background: var(--neon-orange);
    border-color: var(--neon-orange);
    box-shadow: 0 4px 15px rgba(255, 94, 0, 0.4);
}