/* SearchBar.module.css */
.searchContainer {
    position: relative;
    width: 95%;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-top: 5px;
}


.searchContainer input {
    width: 100%;
    padding: 14px 4px 14px 10px;
    background: #141414;
    border: 1px solid rgba(255,255,255,0.06);
    border-radius: 12px;
    color: white;
    font-size: 0.65rem;
    outline: none;
    transition: all 0.3s ease;
}

.searchContainer input:focus {
    border-color: var(--neon-orange);
    box-shadow: 0 0 10px rgba(255, 94, 0, 0.2);
}